In [53]:
#기본적인 패키지부터 추가
import numpy as np
import pandas as pd
import scipy as sp

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
from matplotlib import rc
import matplotlib.font_manager as fm

plt.rc('font', family='Malgun Gothic')
sns.set(font='Malgun Gothic', rc={'axes.unicode_minus':False},style='darkgrid')

In [55]:
#머신러닝 패키지 추가
import statsmodels.api as sm    #안쓸걸
import sklearn as sk

### 데이터 준비

In [56]:
from sklearn.datasets import load_boston

In [57]:
boston_data = load_boston()

C:\Users\admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [58]:
print(boston_data.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [59]:
boston_df = pd.DataFrame(boston_data.data, columns=boston_data.feature_names)
boston_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [60]:
boston_price = pd.DataFrame(boston_data.target)
boston_price.columns = ['PRICE']
boston_price

     PRICE
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [61]:
print(f'보스턴 주택 데이터셋 크기 : {boston_df.shape}')

보스턴 주택 데이터셋 크기 : (506, 13)

In [62]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

##### 선형회귀로 분석모델

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [64]:
x= boston_df

In [65]:
y = boston_price

In [66]:
train_input, test_input, train_target, test_target = train_test_split(x,y, random_state=156, test_size=0.3)

In [67]:
lr = LinearRegression()
lr.fit(train_input, train_target)

LinearRegression()

In [68]:
lr.score(test_input, test_target)

0.7572263323138927

In [69]:
lr.score(train_input,train_target)

0.7273505005599823

In [70]:
lr.predict(X=test_input)

array([[23.15424087],
       [19.65590246],
       [36.42005168],
       [19.96705124],
       [32.40150641],
       [17.66341192],
       [30.32844101],
       [17.8513932 ],
       [10.86187069],
       [12.83177966],
       [21.18350434],
       [16.41212257],
       [28.66817527],
       [37.01110952],
       [23.42172197],
       [24.56906089],
       [14.55434775],
       [11.51023436],
       [30.27784089],
       [23.48027467],
       [22.86210577],
       [17.61623753],
       [21.2528808 ],
       [17.29802868],
       [34.06118291],
       [ 7.19879841],
       [13.39928425],
       [19.4234468 ],
       [13.2423286 ],
       [ 8.3336837 ],
       [29.34933073],
       [11.83768837],
       [19.84125562],
       [23.97623235],
       [16.34351261],
       [13.20973749],
       [14.3352014 ],
       [17.26323753],
       [17.37091562],
       [23.84644351],
       [32.8390912 ],
       [ 9.3866759 ],
       [19.06694335],
       [-3.98840206],
       [19.87721947],
       [21.26003361],
       [24.17775745],
       [35.35923599],
       [20.32415303],
       [28.23212889],
       [32.67560962],
       [40.83910565],
       [41.19126206],
       [19.78588457],
       [25.0134137 ],
       [24.13111046],
       [19.62715719],
       [33.49344219],
       [23.61402811],
       [15.31513017],
       [22.70657074],
       [25.78436589],
       [23.99723589],
       [ 8.78013424],
       [21.81929237],
       [39.68193998],
       [32.8907251 ],
       [30.20417723],
       [14.35610647],
       [23.56129992],
       [13.6987184 ],
       [32.17099211],
       [36.43647957],
       [27.41243794],
       [21.43887413],
       [29.94548936],
       [20.80737308],
       [26.76489459],
       [23.19924205],
       [18.7295963 ],
       [30.4434358 ],
       [17.92366103],
       [19.96350973],
       [22.90321583],
       [30.35722286],
       [19.1416058 ],
       [34.82981423],
       [35.95421976],
       [21.08435113],
       [28.16227294],
       [33.9844885 ],
       [13.09683348],
       [25.83254741],
       [28.31598334],
       [24.09461934],
       [26.53533695],
       [13.78463019],
       [27.52845855],
       [30.96700768],
       [22.15390363],
       [27.52458794],
       [20.92341491],
       [12.20099558],
       [16.86757413],
       [23.1869979 ],
       [25.27201058],
       [24.87600819],
       [29.56220534],
       [14.39300773],
       [23.74503763],
       [23.00928065],
       [27.59611128],
       [14.63924951],
       [19.88668982],
       [20.77437658],
       [36.65236819],
       [24.34502539],
       [11.00066258],
       [17.85805638],
       [31.97402161],
       [31.8757576 ],
       [23.05268046],
       [27.47026659],
       [34.21658142],
       [21.45953092],
       [25.732922  ],
       [ 8.82822141],
       [16.45252491],
       [24.54156705],
       [30.71990499],
       [20.78378788],
       [19.29671324],
       [34.96155332],
       [20.95681683],
       [35.98751661],
       [22.43270522],
       [19.44758239],
       [18.41029637],
       [19.11220591],
       [23.80294646],
       [23.17652339],
       [19.34566115],
       [14.73400581],
       [15.68343526],
       [35.65243238],
       [21.07768237],
       [29.71070004],
       [21.10104869],
       [24.5559244 ],
       [24.09374799],
       [18.47882862],
       [31.83335094]])

#### 회귀계수확인

In [77]:
test_target

     PRICE
210   21.7
15    19.9
264   36.5
396   12.5
234   29.0
..     ...
393   13.8
325   24.6
53    23.4
401    7.2
178   29.9

[152 rows x 1 columns]

In [71]:
mae = mean_absolute_error(y_true=test_target, y_pred=lr.predict(X=test_input))
mae

3.213668344124452

In [72]:
mse = mean_squared_error(y_true=test_target, y_pred=lr.predict(X=test_input))
mse

17.29691590790211

In [73]:
rmse = np.sqrt(mse)
rmse

4.15895610795571

In [74]:
# 0.7572263323138935 테스트세트에 대한 결정계수
r2_score(y_true=test_target, y_pred=lr.predict(X=test_input))

0.7572263323138927

In [75]:
print(lr.coef_, lr.intercept_)

[[-1.12979614e-01  6.55124002e-02  3.44366694e-02  3.04589777e+00
  -1.97958320e+01  3.35496880e+00  5.93713290e-03 -1.74185354e+00
   3.55884364e-01 -1.42954516e-02 -9.20180066e-01  1.03966156e-02
  -5.66182106e-01]] [40.99559517]

In [76]:
coef_ = pd.Series(data=np.round(lr.coef_, 2), index=x.columns)
coef_.sort_values(ascending=False)

ValueError: Length of values (1) does not match length of index (13)

In [ ]:
3.35*RM + 3.05*